.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: rgb(205, 255, 236);
  margin-top: 20px;
}
.centerr {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(25, 26, 25);
  padding: 10px;
  background-color: rgba(4, 59, 66, 0.096);
}